.room-game {
    background-size: cover;
    width: 100%;
    background-image: url('../../images//background/astral.jpg');
}
.room-game-list {
    color: white;
    display: flex;
    margin: 0 auto;
    width: 70%;
    gap: 100px;
    margin-top: 150px;
}
.room-game-item {
    cursor: pointer;
    text-align: center;
}
.room-game-item p {
   line-height: 0.5;
}
.room-game-img {
    width: 150px;
}
.room-game-logo {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.room-game-logo img {
    max-width: 50px;
}

.room-detail-avatar {
    width: 200px;
    border-radius: 50%;
    height: 200px;
    object-fit: cover;
}
.room-detail-person {
    color: #e7c526;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 0px 20px #00B5AD;
}
.add-friend {
    position: absolute;
    right: 10px;
    top: 22px;
    background: #00B5AD;
    border-radius: 100%;
    padding: 5px;
    width: 40px;
    height: 30px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.room-detail-list {
    margin-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.room-detail-info {
    color: white !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.room-detail-start {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.power {
    cursor: pointer;
    border: 1px solid white;
    transition: 0.2s;
}
.power:hover {
    padding: 4px;
}
.empty-container {
    margin-top: 50px;
    display: flex;
    gap: 10px;

}
.empty-box {
    cursor: pointer;
    border: 1px solid white;
    transition: 0.2s;
    width: 40px;
    height: 40px;
    position: relative;
}
.empty-img {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


.player {
    width: 50%;
    color: white;
    margin-top: 10px;
    transition: 0.2s;
    margin: 0 auto;
}
.info {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    margin-bottom: 10px;
    flex-direction: column;
}
.info-1 {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.avatar {
    border-radius: 100rem;
    width: 50px;
    height: 50px;
}
.name {
    color: white;

}
.hp {
    padding: 6px;
    display: flex;
    gap: 2px;
    border: 1px solid rgb(121, 168, 221);
    backdrop-filter: 100px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.1);
    height: 37px;


}
.hp-item {
    width: 8px;
    height: 25px;
    background-color: rgb(77, 255, 77);
}
.hp-item-blank {
    width: 8px;
    height: 25px;
    background-color: unset;
}
.mana {
    margin-top: 10px;
    padding: 6px;
    display: flex;
    gap: 2px;
    border: 1px solid rgb(121, 168, 221);
    backdrop-filter: 100px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.1);
    height: 37px;


}
.mana-item {
    width: 8px;
    height: 25px;
    background-color: rgb(81, 140, 251);
}
.shield {
    margin-top: 10px;
    padding: 6px;
    display: flex;
    gap: 2px;
    border: 1px solid rgb(121, 168, 221);
    backdrop-filter: 100px;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.1);
    height: 37px;

}
.shield-item {
    width: 8px;
    height: 25px;
    background-color: rgb(168, 170, 173);
}

.power {
    cursor: pointer;
    border: 1px solid white;
    transition: 0.2s;
}
.power:hover {
    padding: 4px;
}
.item-box {
    display: flex;
    gap: 7px;
}
.card {
    margin: 40px 0px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.game-play {
    width: 100%;
    position: relative;
}
.box-3game {
    display: flex;
    align-items: center;

}

.player-left 
{
    /* position: absolute;
    left: 0; */
    transform: scale(0.65);
    transform-origin: left;
}
.player-left .player {
    
    transform: rotate(90deg);
    transform-origin: left;
}
.player-right
{
    position: absolute;
    right: 0;
    transform: scale(0.65);
    transform-origin: right;
}
.player-right .player {
    
    transform: rotate(-90deg);
    transform-origin: right;
}

.avatar {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.active-turn {
    border-radius: 100rem;
    position: relative;
    background-color: greenyellow;
    width: 60px;
    height: 60px;


}
.not-active-turn {
    border-radius: 100rem;
    position: relative;
    background-color: unset;
    width: 60px;
    height: 60px;


}





/* card animation  */

.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: #282c34; */
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .circle {
    position: relative;
    width: 600px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 2s ease, opacity 2s ease;
    z-index: 9;
  }
  
  .circle.animate {
    transform: scale(0) translate(300px, -300px);
    opacity: 0;
  }
  
  .circle-content {
    position: relative;
    display: flex;
    z-index: 10;
  }
  
  .card-image-1,.card-image-2, .skill-image-1, .card-image {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 9;
  }
  
  .card-image {
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
  }
  .card-image-center {
    top: 0 !important;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    z-index: 9;
  }
  .card-image-1 {
    top: 25px;
    left: 0%;
    margin-left: 10px;
    z-index: 9;
}
.card-image-2 {
    top: 25px;
    right: 0%;
    margin-right: 10px;
    z-index: 9;
  }
  
  .skill-image-1 {
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
  }
  
  .border-light {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    animation: rotate 2s linear infinite;
    background-color: #282c34;
    z-index: 9;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .power-use {
    opacity: 0.4;
  }
  .power-use:hover {
    padding: 0 !important;
  }
  .power-click {
    border: 3px solid red
  }

  /* src/App.css */
.chatbox-messages {
    scrollbar-width: none; /* Firefox */
}

.chatbox-messages::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}
.quantity-emotion {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 8px;
    background: #00B5AD;
    color: white;
    width: 11px;
    height: 11px;
    text-align: center;
    border-radius: 100%;
}

.room-game-text {
    font-size: 23px;
    font-weight: bold;
    color: #e7c526;
    text-shadow: 0px 0px 20px #00B5AD;
    animation: pulse 2s infinite;
    line-height: 0;
}